		h1 {
			text-align: center;
			background-color: FireBrick;
			padding-bottom: 0px;
		}
		#missing {
			background-color: DarkSlateBlue;
			color: white;
			width: 100%;
			heigth: ;
			font-size: 42px;
			font-family: Times, Times New Roman, serif;
		}
		
		#missing_animal_page {
			color: white;
		}
		
		#appearance {
			text-align: center-left;
			font-size: 24px;
			padding: 10px;
		
		}
		
		td {
			text-align: center-left;
			padding: 10px;
		}
		
		th {
			text-align: left;
		}
		
		table {
			table-layout: fixed;
			background-color: LightSkyBlue;
			border-radius: 24px;
			border-color: white;
			border-width: 10px;
			
		}
		
		#characteristics {
			table-layout: fixed;
			display: inline-table;
			font-size: 24px;
		}
		
		div>table {
			float: left;
			align: center;
		}